* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
}
/* header */

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.links {
    font-size: 18px;
    color: #dfe0e1;
}
/* section 1 */
.hero-container {
    display: flex;
    padding: 70px;
}

.hero-item {
    min-height: 300px;
    width: 50%;
}

.hero {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-between;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

p {
    font-size: 18px;
    color: #dfe0e1;
}

.image-temp {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    color: #E5E7EB;
}

.information-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
}

.info-container {
    display: flex;
    justify-content: center;
    gap: 52px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info-box {
    height: 100px;
    width: 100px;
    border: 5px solid blue;
}

.title {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin-bottom: 20px;
}